*{
  box-sizing: border-box;
}

.clear-fix{
  &:before,&:after{
    content: " ";
    clear: both;
    display: table;
  }
}

.show{ border:orange solid 1px }

.container{
  padding: 1.25rem;
  max-width: 68rem;
  margin: 0 auto;
}

.digit{
  font-weight: 600;
  margin: 0;
  letter-spacing: .15rem;
  color: $dark-gray;
}

.paragraph-text{
  color: $text;
  font-size: .875rem;
  font-weight: 300;
  line-height: 1.6;
  text-align: justify;
}