
$blue: #007AFF;
$dark-gray: #323648;
$mid-gray: #959FAB;
$light-gray: #F7F9FC;
$text: #5a6d81;

$min-break-point	: 650px !default;
$med-break-point	: 1024px !default;



// .blue{ color: var(--blue); }
// .dark-gray{ color: var(--dark-gray); }
// .mid-gray{ color: var(--mid-gray); }
// .text{ color: var(--text); }

// .bg-blue{ background-color: var(--blue); }
// .bg-dark-gray{ background-color: var(--dark-gray); }
// .bg-mid-gray{ background-color: var(--mid-gray); }
// .bg-light-gray{ background-color: var(--light-gray); }


// .open-sans{ font-family: 'Open Sans', sans-serif; }

// .mw-m{ max-width: 68rem; }